<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolChange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolChange.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>vi</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>admin@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>1234</value>
            </setting>
        </ToolChange.Properties.Settings>
    </userSettings>
</configuration>