<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolChange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolChange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolChange.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>vi</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
        </ToolChange.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ToolChange.Properties.Settings>
            <setting name="poolId" serializeAs="String">
                <value>ap-southeast-1_Cha6gy7Ui</value>
            </setting>
            <setting name="clientId" serializeAs="String">
                <value>4h21ba0at8flinn9iq351if381</value>
            </setting>
            <setting name="endpoint" serializeAs="String">
                <value>https://nievrqo2rbdtfhmhzc2bg2epka.appsync-api.ap-southeast-1.amazonaws.com/graphql</value>
            </setting>
        </ToolChange.Properties.Settings>
    </applicationSettings>
</configuration>